<a href="https://colab.research.google.com/github/unablebagel/Qwiklabs/blob/main/INF1002_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identation is important

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 > 2:
print("Five is greater than two!") # Syntax error

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-44-249ae2a9850f>, line 2)

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!") #Syntax error

IndentationError: unexpected indent (<ipython-input-73-948dfce52970>, line 3)

# Variable Assignment

In [ ]:
x = 5
y = "Hello, World!"

##Comments

In [ ]:
#This is a comment.
print("Hello, World!")

print("Hello, World!") #This is a comment

#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

### Multistring

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

### Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Get Type

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [ ]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

In [ ]:
#This will create two variables:
a = 4
A = "Sally"
#A will not overwrite a

Rules for Python variables:


*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)
*    A variable name cannot be any of the Python keywords.

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

Multiple Assignments

In [ ]:
# Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Output Variables

In [ ]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

#Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

Python is awesome
Python is awesome
15

In [ ]:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

print("Hello" + 123)
#TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [ ]:
# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
x = 5
y = "John"
print(x, y)

5 John

Global Assignment

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Data Types

### Declaring data type **(Dynamic Typing)**

In [ ]:
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

### Setting the Specific Data Type **(Type Casting)**

In [ ]:
x = str("Hello World")	#str
x = int(20)	#int
x = float(20.5)	#float
x = complex(1j)	#complex
x = list(("apple", "banana", "cherry"))	#list
x = tuple(("apple", "banana", "cherry"))	#tuple
x = range(6)	#range
x = dict(name="John", age=36)	#dict
x = set(("apple", "banana", "cherry"))	#set
x = frozenset(("apple", "banana", "cherry"))	#frozenset
x = bool(5)	#bool
x = bytes(5)	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview

#Numeric precision adjustment

# See how round() rounds 1.5 up to 2, and 2.5 down to 2!
x = 2.5

y = round(x)
print(y)

z = 1.5

y = round(z)
print(y)

2
2

# Python Numbers

Int, or integer, is a **whole number, positive or negative, without decimals, of unlimited length.**

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float, or "floating point number" is a number, positive or negative, **containing one or more decimals**.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Type Conversion

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Strings

Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

## Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [ ]:
# three double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

# three single quotes
b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(b)

# Note: in the result, the line breaks are inserted at the same position as in the code.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings are Arrays

In [ ]:
a = "Hello, World!"
print(a[1])

e

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## String Length
To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World!"
print(len(a))

13

## Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## Escape Characters
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash `\` followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."

### Examples

In [ ]:
# ignore \
s = 'This string will not include \
backslashes or newline characters.'
print (s)

# escape backslash
s= 'The \\character is called backslash'
print (s)

# escape single quote
s='Hello \'Python\''
print (s)

# escape double quote
s="Hello \"Python\""
print (s)

# escape \b to generate ASCII backspace
s='Hel\blo'
print (s)

# ASCII Bell character
s='Hello\a'
print (s)

# newline
s='Hello\nPython'
print (s)

# Horizontal tab
s='Hello\tPython'
print (s)

# form feed
s= "hello\fworld"
print (s)

# Octal notation
s="\101"
print(s)

# Hexadecimal notation
s="\x41"
print (s)

This string will not include backslashes or newline characters.
The \character is called backslash
Hello 'Python'
Hello "Python"
Hello
Hello
Hello
Python
Hello	Python
helloworld
A
A

### Raw String

In the following example, when a normal string is printed the escape character '\n' is processed to introduce a newline. However, because of the raw string operator 'r' the effect of escape character is not translated as per its meaning.

In [ ]:
normal = "Hello\nWorld"
print (normal)

raw = r"Hello\nWorld"
print (raw)

Hello
World
Hello\nWorld

# Python Boolean
When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

### Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return,

In [3]:
print(bool("Hello"))
print(bool(15))

True
True

### **Most Values are True**
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
# The following will return True
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

In fact, there are not many values that evaluate to `False`, except empty values, such as `(), [], {}, ""`, the number `0`, and the value `None`. And of course the value `False` evaluates to `False`.

### Functions can Return a Boolean
You can create functions that returns a Boolean Value:

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

# Python Operators

## Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
a = 7
b = 2

# addition
print ('Sum: ', a + b)

# subtraction
print ('Subtraction: ', a - b)

# multiplication
print ('Multiplication: ', a * b)

# division
print ('Division: ', a / b)

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)

# a to the power b
print ('Power: ', a ** b)

Sum:  9
Subtraction:  5
Multiplication:  14
Division:  3.5
Floor Division:  3
Modulo:  1
Power:  49

## Assignment Operators
Assignment operators are used to assign values to variables:

In [ ]:
# assign 10 to a
a = 10

# assign 5 to b
b = 5

# assign the sum of a and b to a
a += b      # a = a + b

print(a)

# Output: 15

# assign 5 to a
x = 5

# same as x = x % 3
x%=3

print(x)

#Output: 2

# assign 5 10 y
y = 5

# same as x = x ** 3
y **= 3

print(y)
# Output: 125

15
2
125

## Comparison Operators
Comparison operators are used to compare two values:

In [ ]:
a = 5

b = 2

# equal to operator
print('a == b =', a == b)

# not equal to operator
print('a != b =', a != b)

# greater than operator
print('a > b =', a > b)

# less than operator
print('a < b =', a < b)

# greater than or equal to operator
print('a >= b =', a >= b)

# less than or equal to operator
print('a <= b =', a <= b)

a == b = False
a != b = True
a > b = True
a < b = False
a >= b = True
a <= b = False

## Logical Operators
Logical operators are used to combine conditional statements:

In [52]:
# logical AND
print(True and True)     # True
print(True and False)    # False

# logical OR
print(True or False)     # True

# logical NOT, reverse the result
print(not True)          # False

True
False
True
False

In [5]:
a = 10

if a:
    print("Boolean value of a is True")
if not (a % 3 == 0 or a % 5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

Boolean value of a is True
10 is divisible by either 3 or 5

## Identity Operators
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

print(x1 is not y1)  # prints False

print(x2 is y2)  # prints True

print(x3 is y3)  # prints False because x3 is not the same object as y3, even if they have the same content

False
True
False

In [1]:
a=[1,2,3]
b=[1,2,3]
print ("id(a), id(b):", id(a), id(b))
print ("a is b:", a is b)
print ("b is not a:", b is not a)

print (id(a[0]), id(a[1]), id(a[2]))
print (id(b[0]), id(b[1]), id(b[2]))
print(a[0] is b[0])

id(a), id(b): 137247697652352 137247697652160
a is b: False
b is not a: True
137247995445488 137247995445520 137247995445552
137247995445488 137247995445520 137247995445552
True

### Difference between` ‘==’` and `‘is’` Operator
The equality operator is used to compare the value of two variables, whereas the identities operator is used to compare the memory location of two variables.

In [2]:
# Python program to illustrate the use
# of 'is' and '==' operators
lst1 = [1, 2, 3]
lst2 = [1, 2, 3]

# using 'is' and '==' operators
print(lst1 is lst2)
print(lst1 == lst2)

False
True

## Membership Operators
Membership operators are used to test if a sequence is presented in an object:

In [ ]:
message = 'Hello world'
dict1 = {1:'a', 2:'b'}

# check if 'H' is present in message string
print('H' in message)  # prints True

# check if 'hello' is present in message string
print('hello' not in message)  # prints True, case-sensitive

# check if '1' key is present in dict1
print(1 in dict1)  # prints True

# check if 'a' key is present in dict1
print('a' in dict1)  # prints False

True
False
True
False

# Python If ... Else
An "if statement" is written by using the if keyword.

In [51]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

## Elif and Else
The `elif` keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

The `else` keyword catches anything which isn't caught by the preceding conditions.

In [7]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

You can also have an `else` without the `elif`:

In [50]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [9]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

## Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [49]:
a = 2
b = 330
print("A") if a > b else print("B") # no need for semicolons

B

In [48]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

## Pass
`if` statements cannot be empty, but if you for some reason have an `if` statement with no content, put in the `pass` statement to avoid getting an error.

In [47]:
a = 33
b = 200

if b > a:
  pass

# Python Match Case
The match case statement in Python is initialized with the match keyword followed by the parameter to be matched. Then various cases are defined using the case keyword and the pattern to match the parameter. The “_” is the wildcard character that runs when all the cases fail to match the parameter value.



```
match variable_name:
  case 'pattern 1' :
    statement1
  case 'pattern 2' :
    statement2
...
  case 'pattern n' :
    statement
  case _:
    print('default')
```

In [13]:
# simple match case statement
def runMatch():
    num = int(input("Enter a number between 1 and 3: "))

    # match case
    match num:
        # pattern 1
        case 1:
            print("One")
        # pattern 2
        case 2:
            print("Two")
        # pattern 3. case and statement can be inline
        case 3: print("Three")
        # default pattern
        case _:
            print("Number not between 1 and 3")

runMatch()

Enter a number between 1 and 3: 3
Three

## Match Case Statement with OR Operator
Match case statement in Python are meant to be for only matching the patterns and specific keywords or parameters. But we can also use match case statement in python when there are more than one case that results in same output. In this case, we can use **pipe** operator, also known as OR Operator in match case statement.

In [ ]:
def access(user):
   match user:
      case "admin" | "manager": return "Full access"
      case "Guest": return "Limited access"
      case _: return "No access"
print (access("manager"))
print (access("Guest"))
print (access("Ravi"))

## Match case with List
Since Python can match the expression against any literal, you can use a list as a case value. Moreover, for variable number of items in the list, they can be parsed to a sequence with `*` operator.

In [36]:
# python match case with list
def runMatch(mystr):

    # match case
    match mystr:
        # pattern 1
        case ["a"]:
            print("a")
        # pattern 2
        case ["a", *b]:
            print(f"a and {b}")
        # pattern 3
        case [*a, "e"] | (*a, "e"):
            return (f"{a} and e") #notice how return will encapsulate output with single quote
        # default pattern
        case _:
            print("No data")

runMatch([])
runMatch(["a"])
runMatch(["a", "b"])
runMatch(["b", "c", "d", "e"])

No data
a
a and ['b']

"['b', 'c', 'd'] and e"

In [19]:
def greeting(details):
   match details:
      case [time, name]:
         return f'Good {time} {name}!'
      case [time, *names]:
         msg=''
         for name in names:
            msg+=f'Good {time} {name}!\n'
         return msg

print (greeting(["Morning", "Ravi"]))
print (greeting(["Afternoon","Guest"]))
print (greeting(["Evening", "Kajal", "Praveen", "Lata"]))

Good Morning Ravi!
Good Afternoon Guest!
Good Evening Kajal!
Good Evening Praveen!
Good Evening Lata!

# Control Flow

## While Loop
With the while loop we can execute a set of statements as long as a condition is true.

In [37]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

With the `break` statement we can stop the loop even if the while condition is true:

In [40]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

With the `continue` statement we can stop the current iteration, and continue with the next:

In [38]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

With the else statement we can run a block of code once when the condition no longer is true:

In [39]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## For Loop
A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
for x in "banana":
  print(x)

With the `break` statement we can stop the loop before it has looped through all the items:

In [41]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [42]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## range() Function
To loop through a set of code a specified number of times, we can use the `range()` function,

The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [43]:
#Note that range(6) is not the values of 0 to 6, but the values 0 to 5.
for x in range(6):
  print(x)

0
1
2
3
4
5

The `range()` function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: `range(2, 6)`, which means values from 2 to 6 (but not including 6):

In [44]:
for x in range(2, 6):
  print(x)

2
3
4
5

The `range()` function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: `range(2, 30, 3)`:

In [45]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

#Note: The else block will NOT be executed if the loop is stopped by a break statement.

## Pass
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [46]:
for x in [0, 1, 2]:
  pass