<a href="https://colab.research.google.com/github/unablebagel/Qwiklabs/blob/main/INF1002_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Identation is important

In [43]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [44]:
if 5 > 2:
print("Five is greater than two!") # Syntax error

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-44-249ae2a9850f>, line 2)

In [74]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [73]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!") #Syntax error

IndentationError: unexpected indent (<ipython-input-73-948dfce52970>, line 3)

# Variable Assignment

In [45]:
x = 5
y = "Hello, World!"

Comments

In [46]:
#This is a comment.
print("Hello, World!")

print("Hello, World!") #This is a comment

#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!
Hello, World!
Hello, World!

Multistring

In [47]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [48]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Casting

In [49]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Get Type

In [50]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [51]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

In [52]:
#This will create two variables:
a = 4
A = "Sally"
#A will not overwrite a

Rules for Python variables:


*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)
*    A variable name cannot be any of the Python keywords.

In [53]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Camel Case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#Snake Case
my_variable_name = "John"

Multiple Assignments

In [54]:
# Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [55]:
#One Value to Multiple Variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Output Variables

In [56]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

#Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

Python is awesome
Python is awesome
15

In [57]:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

print("Hello" + 123)
#TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [76]:
# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
x = 5
y = "John"
print(x, y)

5 John

Global Assignment

In [75]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Data Types

Declaring data type **(Dynamic Typing)**

In [77]:
x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = b"Hello"	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

Setting the Specific Data Type **(Type Casting)**

In [78]:
x = str("Hello World")	#str
x = int(20)	#int
x = float(20.5)	#float
x = complex(1j)	#complex
x = list(("apple", "banana", "cherry"))	#list
x = tuple(("apple", "banana", "cherry"))	#tuple
x = range(6)	#range
x = dict(name="John", age=36)	#dict
x = set(("apple", "banana", "cherry"))	#set
x = frozenset(("apple", "banana", "cherry"))	#frozenset
x = bool(5)	#bool
x = bytes(5)	#bytes
x = bytearray(5)	#bytearray
x = memoryview(bytes(5))	#memoryview

#Numeric precision adjustment

# See how round() rounds 1.5 up to 2, and 2.5 down to 2!
x = 2.5

y = round(x)
print(y)

z = 1.5

y = round(z)
print(y)

2
2

# Python Numbers

Int, or integer, is a **whole number, positive or negative, without decimals, of unlimited length.**

In [79]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float, or "floating point number" is a number, positive or negative, **containing one or more decimals**.

In [61]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [62]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Type Conversion

In [63]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Python Strings

Quotes Inside Quotes

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [64]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

## Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [65]:
# three double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

# three single quotes
b = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(b)

# Note: in the result, the line breaks are inserted at the same position as in the code.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings are Arrays

In [66]:
a = "Hello, World!"
print(a[1])

e

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [67]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## String Length
To get the length of a string, use the len() function.

In [68]:
a = "Hello, World!"
print(len(a))

13

## Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [69]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [70]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [71]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [72]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.